.show-my-record-bg {
    background: url("/images/bg/vax-full-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-shadow {
    -webkit-box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.56);
}

.first-dose-border {
    border-top: 4px solid #0c6980;
    border-left: 4px solid #0c6980;
    border-right: 4px solid #0c6980;
    border-bottom: 2px solid #0c6980;
}

.second-dose-border {
    border-top: 2px solid #0c6980;
    border-left: 4px solid #0c6980;
    border-right: 4px solid #0c6980;
    border-bottom: 4px solid #0c6980;
}

.print-btn {
    background-color: #0c6980;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}

.print-btn:hover {
    background-color: #07414f;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.27);
}

.doses-container {
    height: 280px;
    width: 300px;
}

/* Vaccination Card Style */
.vaccination-card {
    width: 384px;
    height: 243px;
    position: relative;
}

.v-title {
    font-size: 26px;
    width: 150px;
    position: absolute;
    bottom: -27px;
    left: 7px;
    color: white;
}

.v-sub {
    width: 150px;
    letter-spacing: 3px;
    position: absolute;
    bottom: 2px;
    left: 45px;
    font-size: 9px;
    color: white;
}

.v-aside {
    width: 77px;
    height: 243px;
}

.v-qr-container {
    height: 77px;
}

.box {
    height: 67px;
    width: 67px;
    margin: 0 auto;
}

.img-border-container {
    width: 9.6px;
}

.prov-of {
    font-size: 9px;
    color: #0c6980;
}

.catnes {
    font-size: 26px;
    line-height: 26px;
    color: #0c6980;
}

.v-header-container {
    margin-top: 1px;
    height: 48px;
}

.prov-logo {
    width: 40px;
}

.image-box {
    /* height: 172.8px;
    width: 134.4px; */
    height: 96px;
    width: 96px;
    border: 2px solid #0c6980;
    font-size: 9px;
    color: #0c6980;
    margin-left: 5px;
}

.person-container {
    height: 98px;
    margin-top: 2px;
}

.f-9px {
    font-size: 9px;
}

.details-container {
    font-size: 12px;
    /* line-height: 16px; */
    padding: 0 5px;
}

.vax-table-container {
    padding: 0 5px;
}

.vax-table {
    font-size: 9px;
    margin-top: 5px;
}

.vax-table,
th,
td {
    border: 2px solid #737373;
}

.vax-table td {
    font-size: 7px;
    padding: 5px 2px;
}

.vax-table th {
    padding: 5px 2px;
}

.v-social-media {
    margin-top: 3px;
    font-size: 7px;
    padding: 2px 5px;
    color: #0c6980;
}

.v-fb-svg {
    height: 8px;
    width: 8px;
    margin-top: 1px;
    margin-right: 1px;
}

.v-gmail-svg {
    height: 8px;
    width: 8px;
    margin-top: 1px;
    margin-right: 2px;
}

.v-web-svg {
    height: 8px;
    width: 8px;
    margin-right: 2px;
    margin-top: 1.5px;
}

/*END OF VACCINATION CARD STYLE*/

/*Print settings*/
@media print {
    html,
    body {
        height: 100%;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
        -webkit-print-color-adjust: exact;
    }

    body * {
        visibility: hidden;
    }

    #section-to-print,
    #section-to-print * {
        visibility: visible;
    }

    #section-to-print {
        position: fixed;
        left: 15px;
        top: 15px;
    }

    .v-sub {
        color: white;
    }

    .v-title {
        color: white;
    }

    @media print and (-webkit-min-device-pixel-ratio: 0) {
        .v-sub {
            color: white;
        }

        .v-title {
            color: white;
        }
    }
}

/*End of print settings*/

/*Small Vax Card*/
.small-vax-card {
    width: 280px;
    height: 180px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.39);
}

.small-vax-aside {
    width: 57px;
}

.small-vax-bg-right {
    width: 6px;
}

.small-vax-id {
    height: 70px;
    width: 70px;
    border: 2px solid #0c6980;
    color: #0c6980;
    font-size: 8px;
}

.small-vax-main-details {
    height: 75px;
}

.small-vax-person-details {
    font-size: 6.5px;
    padding: 4px;
}

.small-vax-person-name {
    font-size: 9px;
    line-height: 10px;
}

.small-vax-table {
    font-size: 5px;
}

.small-vax-table td {
    padding: 3px;
}

.small-vax-table th {
    padding: 3px;
}

.small-vax-main-header {
    height: 40px;
    color: #0c6980;
}

.small-vax-prov-of {
    font-size: 8px;
    margin-top: 2px;
}

.small-vax-catnes {
    font-size: 17px;
    margin-top: -2px;
}

.small-vax-qr-container {
    height: 50px;
}

.small-vax-box {
    height: 45px;
    width: 45px;
    margin: 0 auto;
}

.small-vax-title {
    font-size: 19px;
    width: 135px;
    position: absolute;
    bottom: -18px;
    left: 7px;
    color: white;
}

.small-vax-sub {
    width: 135px;
    letter-spacing: 1.3px;
    position: absolute;
    bottom: 2px;
    left: 32px;
    font-size: 8px;
    opacity: 0.9;
    color: white;
}

.small-vax-social-media {
    font-size: 5px;
    padding: 2px 4px;
    color: #0c6980;
}

.small-vax-fb-svg {
    height: 8px;
    width: 8px;
    margin-top: -1px;
    /* margin-right: 1px; */
}

.small-vax-gmail-svg {
    height: 8px;
    width: 8px;
    /* margin-top: 1px; */
    margin-right: 2px;
}

.small-vax-web-svg {
    height: 8px;
    width: 8px;
    margin-right: 2px;
    margin-top: -1px;
}
/*End of Small Vax Card*/

/* responsive xl */
@media (min-width: 1280px) {
    .main-show-my-record-w {
        max-width: 800px;
        max-height: 500px;
    }
}

/* responsive sm*/
@media (min-width: 640px) {
}
